@font-face {
  src: url("{{ site.baseurl }}/assets/CrimsonPro-Roman-VF.woff2");
  font-family: "Crimson Pro";
  font-style: normal;
}

@font-face {
  src: url("{{ site.baseurl }}/assets/CrimsonPro-Italic-VF.woff2");
  font-family: "Crimson Pro";
  font-style: italic;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-weight: var(--font-weight);
}

@supports (font-variation-settings: "wght" 400) {
  * {
    font-weight: inherit;
    font-variation-settings: "wght" var(--font-weight);
  }
}

:root {
  --gutters: 12px;
}

body {
  margin: 12px var(--gutters) 64px;
  font: 16px/21px "Crimson Pro", serif;
  background: var(--background);
}

a {
  color: var(--primary, currentColor);
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  text-decoration: underline;
}

.header {
  margin: -12px 0 48px;
  padding-top: 12px;
}

.header__logo {
  display: block;
  flex: none;
  --font-weight: 700;
  font-size: 24px;
  line-height: 18px;
  letter-spacing: -1px;
  text-transform: lowercase;
  border-top: 4px solid currentColor;
  padding: 6px 4px 0 0;
}

a.header__logo {
  color: currentColor;
  text-decoration: none;
}

.header__section {
  flex: none;
  margin: 0 0 0 24px;
  font-family: sans-serif;
  --font-weight: 700;
  font-size: 6px;
  line-height: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 0;
}

.header__section--last {
  margin-left: auto;
}

.header__link {
  flex: none;
  display: block;
  margin: 10px 24px 0 0;
  --font-weight: 300;
  font-size: 18px;
  line-height: 18px;
}

.header__link:last-child {
  margin-right: 0;
}

.u-scroll-horizontal {
  display: flex;
  margin-left: calc(-1 * var(--gutters)) !important;
  margin-right: calc(-1 * var(--gutters)) !important;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.u-scroll-horizontal::before,
.u-scroll-horizontal::after {
  display: block;
  content: "";
  padding-right: var(--gutters);
}

@media (min-width: 768px) {
  :root {
    --gutters: 64px;
  }
}

@media (min-width: 1024px) {
  :root {
    --gutters: 128px;
  }
}
