#result {
  display: flex;
  flex-direction: column;
  margin: calc(-1 * var(--gutter-top)) calc(-1 * var(--gutters))
    var(--gutter-top);
  padding: var(--padding-bottom) var(--gutters);
  background: #f8f8f8;
  border-bottom: var(--hairline-width) solid #eee;
  color: black;
  --padding-bottom: 24px;
}

.result--hidden {
  display: none;
}

#result:not(.result--form-hidden) {
  min-height: 100vh;
}

.result__close {
  float: right;
  margin: 0;
  padding: 0;
  border: 0;
  color: inherit;
  font: inherit;
  background: none;
  font-size: 14px;
  line-height: 16px;
  --font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  opacity: 0.5;
}

.result__header {
  margin: 0 0 16px;
  font-size: 14px;
  line-height: 16px;
  --font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.result__maths-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 180px;
}

.result__input > *,
.result__output > * {
  margin: 32px 0 !important;
  text-align: left !important;
}

.result__output > * {
  text-align: right !important;
}

.result__spinner {
  display: none;
  margin: 32px auto;
}

.result--loading ~ .result__spinner {
  display: block;
}

.result__button-container {
  display: flex;
  justify-content: space-between;
}

.result__open-in-app,
.result__toggle-display-mode {
  display: block;
  padding: 6px 32px;
  border: 0;
  font: inherit;
  text-decoration: none;
  background: var(--primary);
  color: white;
  border-radius: 99px;
}

.result__toggle-display-mode {
  padding: 6px 18px;
  font-size: 0;
  background: #eee;
  color: #ccc;
}

.result__toggle-display-mode-icon {
  vertical-align: middle;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
}

.result__form {
  flex-grow: 1;
  margin: 24px calc(-1 * var(--gutters)) calc(-1 * var(--padding-bottom));
  padding: 0 var(--gutters);
  background: #f2f2f2;
  --spacing: 24px;
}

.result--form-hidden .result__form {
  display: none;
}

.result__radio-options {
  display: flex;
  margin: var(--spacing) -6px;
  height: 56px;
}

.result__radio-option {
  margin: 0 6px;
  flex: 1;
  font-size: 0;
}

.result__radio-option label {
  display: block;
}

.result__radio-option input {
  display: none;
  object-fit: center;
}

.result__radio-option span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  transition-duration: 200ms;
  transition-property: background-color, box-shadow;
}

.result__radio-option svg {
  display: block;
}

.result__radio-option input:active + span {
  color: var(--primary);
}

.result__radio-option input:checked + span {
  background: #f6f6f6;
  color: var(--primary);
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.03);
}

.result__checkbox {
  display: block;
  margin: var(--spacing) 0;
}

.result__checkbox input {
  -webkit-appearance: none;
  font-size: inherit;
  margin-right: 0.5em;
  width: 1em;
  height: 1em;
  border-radius: 3px;
  background: #ccc;
  color: #333;
  vertical-align: text-bottom;
  transition: background-color 200ms;
}

.result__checkbox input:checked {
  content: "hello";
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12"><path stroke="white" stroke-linecap="round" stroke-width="2" fill="none" d="M1 7L4 10L11 2"/></svg>')
    center / 0.666em 0.666em no-repeat var(--primary);
}

.result__slider {
  display: block;
  margin: var(--spacing) 0;
  font-size: 14px;
  line-height: 16px;
  color: #444;
  --font-weight: 350;
}

.result__slider input {
  -webkit-appearance: none;
  display: block;
  margin: 8px 0 24px;
  width: 100%;
  height: 24px;
  background: transparent;
}

.result__slider input:focus {
  outline: none;
}

.result__slider input::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  border-radius: 99px;
  background: var(--primary);
  margin-top: -9px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
}

.result__slider input::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  border-radius: 99px;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.02);
}
