<div id="computation" class="computation computation--form-hidden" hidden>
  <div>
    <button class="computation__close">Close</button>
    <h3 class="computation__header">Computation</h3>
  </div>

  <div class="computation__maths-container">
    <div class="computation__input computation--loading"></div>
    <div class="computation__result computation--loading"></div>
    <div class="computation__spinner">
      <img alt="Loading" src="/assets/technicalc/spinner.svg" />
    </div>
    <button class="computation__toggle-display-mode">
      <svg class="computation__toggle-display-mode-icon" viewBox="0 0 16 16">
        <use href="/assets/technicalc/sprites.svg#ellipsis" />
      </svg>
      Display Mode
    </button>
  </div>

  <div class="computation__form-container">
    <form class="computation__form">
      <div class="computation__radio-options">
        <label class="computation__radio-option">
          <input type="radio" name="style" value="natural" />
          <span>
            <svg width="31" height="35">
              <use href="/assets/technicalc/sprites.svg#format-natural" />
            </svg>
          </span>
          Natural
        </label>
        <label class="computation__radio-option">
          <input type="radio" name="style" value="decimal" checked />
          <span>
            <svg width="25" height="12">
              <use href="/assets/technicalc/sprites.svg#format-decimal" />
            </svg>
          </span>
          Decimal
        </label>
        <label class="computation__radio-option">
          <input type="radio" name="style" value="scientific" />
          <span>
            <svg width="77" height="15">
              <use href="/assets/technicalc/sprites.svg#format-scientific" />
            </svg>
          </span>
          Scientific
        </label>
      </div>

      <label class="computation__slider">
        Decimal Places
        <input type="range" name="precision" min="0" max="12" value="8" />
      </label>

      <label class="computation__checkbox">
        <input type="checkbox" name="digitGrouping" checked />
        Digit Grouping
      </label>
    </form>
  </div>

  <div class="computation__footer">
    <p class="computation__footer-copy">
      This equation was created with TechniCalc. <em>Scroll down</em> to learn
      more.
    </p>
    <a href="#" class="computation__open-in-app">Open in App</a>
  </div>
</div>
<script type="module" async>
  if (location.search.length > 1) {
    const computationContainer = document.getElementById("computation");

    /* Styles */
    const styles = document.createElement("link");
    styles.setAttribute("rel", "stylesheet");
    styles.setAttribute("href", "/assets/technicalc/computation.css");
    styles.addEventListener("load", () => {
      computationContainer.removeAttribute("hidden");
    });
    document.head.append(styles);

    /* Minimal JS */
    document.addEventListener("click", (e) => {
      const { target } = e;
      if (target.classList.contains("computation__close")) {
        computationContainer.setAttribute("hidden", "");
      } else if (
        target.classList.contains("computation__toggle-display-mode")
      ) {
        computationContainer.classList.toggle("computation--form-hidden");
      }
    });

    /* Full JS loaded async */
    /* Worker initialzed here to increase parallelism */
    window.TechnicalcWorker = new Worker("/assets/technicalc/worker.js");
    import("/assets/technicalc/computation.js");
  }
</script>
