<div id="result" class="result--hidden result--form-hidden">
  <div>
    <button class="result__close">Close</button>
    <h3 class="result__header">Computation</h3>
  </div>

  <div class="result__maths-container">
    <div class="result__input result--loading"></div>
    <div class="result__output result--loading"></div>
    {% include technicalc-spinner.svg %}
  </div>

  <div class="result__button-container">
    <a href="#" class="result__open-in-app">Open in App</a>
    <button class="result__toggle-display-mode">
      <svg class="result__toggle-display-mode-icon" viewBox="0 0 16 16">
        <circle cx="2" cy="8" r="2" fill="currentColor" />
        <circle cx="8" cy="8" r="2" fill="currentColor" />
        <circle cx="14" cy="8" r="2" fill="currentColor" />
      </svg>
      Display Mode
    </button>
  </div>

  <form class="result__form">
    <div class="result__radio-options">
      <label class="result__radio-option">
        <input type="radio" name="style" value="natural" />
        <span>{% include technicalc-natural.svg %}</span>
        Natural
      </label>
      <label class="result__radio-option">
        <input type="radio" name="style" value="decimal" checked />
        <span>{% include technicalc-decimal.svg %}</span>
        Decimal
      </label>
      <label class="result__radio-option">
        <input type="radio" name="style" value="scientific" />
        <span>{% include technicalc-scientific.svg %}</span>
        Scientific
      </label>
    </div>

    <label class="result__slider">
      Decimal Places
      <input type="range" name="precision" min="0" max="12" />
    </label>

    <label class="result__checkbox">
      <input type="checkbox" name="digitGrouping" />
      Digit Grouping
    </label>
  </form>
</div>
