@font-face {
  src: url(/assets/fonts/CrimsonPro-Roman-VF.woff2);
  font-family: "Crimson Pro";
  font-style: normal;
}

@font-face {
  src: url(/assets/fonts/CrimsonPro-Italic-VF.woff2);
  font-family: "Crimson Pro";
  font-style: italic;
}

.header__section {
  /* So we don't load Inter UI */
  font-family: sans-serif;
}

.header__link {
  --font-size: 18;
  --font-weight: 300;
}

:root {
  --inset: 180px;
  -webkit-text-size-adjust: 100%;
}

body {
  font: 12pt/16pt "Crimson Pro", serif;
}

h1 {
  margin: 0 0 56pt;
  font-size: 24pt;
  line-height: 26pt;
  --font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4pt;
}

h2 {
  border-top: 2px solid #333;
  padding-top: 4px;
  margin: 26pt 0 6pt;
  font-size: 16pt;
  line-height: 18pt;
  text-transform: uppercase;
  letter-spacing: 3pt;
  --font-weight: 590;
}

h3 {
  margin: 16pt 0 3pt;
  font-size: 1em;
  line-height: inherit;
  --font-weight: 610;
  text-transform: uppercase;
  letter-spacing: 1.8pt;
}

h3 time {
  margin-left: 9pt;
  float: right;
}

h3::after {
  content: "";
  display: block;
  clear: both;
}

h4 {
  margin: 9pt 0 0;
  font-size: 1em;
  --font-weight: 580;
  letter-spacing: 0.45pt;
}

p {
  margin: 3pt 0;
}

@supports (hyphens: auto) or (-webkit-hyphens: auto) {
  p,
  li {
    text-align: justify;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
}

ul {
  margin: 6pt 0;
}

ul {
  position: relative;
  list-style-type: none;
  margin: 8pt 0;
  --bullet-padding: 18pt;
  padding-left: var(--bullet-padding);
}

li::before {
  position: absolute;
  left: 0;
  margin-top: 1pt;
  content: "\27b5";
}

li {
  margin: 4pt 0;
}

ul h4 {
  margin: 8pt 0 2pt;
  --font-weight: 480;
  letter-spacing: 0.15pt;
}

li p {
  font-style: italic;
  --font-weight: 350;
  letter-spacing: 0.2pt;
}

.timelist {
  margin-top: 16pt;
  --bullet-padding: 0px;
}

.timelist li {
  margin: 8pt 0;
}

.timelist li::before {
  display: none;
}

.timelist time {
  float: right;
  letter-spacing: 0.2pt;
}

.lead {
  font-size: 16pt;
  line-height: 20pt;
  font-style: italic;
  --font-weight: 350;
}

strong {
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.4pt;
  font-size: 0.85em;
  --font-weight: 480;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 18pt;
    line-height: 22pt;
  }

  h1 {
    font-size: 48pt;
    line-height: 52pt;
    letter-spacing: 16pt;
    --font-weight: 600;
  }

  h2 {
    font-size: 22pt;
    line-height: 26pt;
    margin-top: 48pt;
    letter-spacing: 4pt;
  }

  .lead {
    margin-top: 12pt;
    margin-bottom: 12pt;
    font-size: 22pt;
    line-height: 24pt;
    letter-spacing: 0.8pt;
    --font-weight: 200;
  }
}

@media screen and (min-width: 768px), print {
  h1,
  h2,
  h3,
  p {
    margin-left: var(--inset);
  }

  h4 {
    position: absolute;
    width: calc(var(--inset) - 12pt);
    margin: 0;
    text-align: right;
  }

  ul {
    margin-left: calc(var(--inset) - var(--bullet-padding));
    --bullet-padding: 28pt;
  }

  li h4 {
    position: static;
    display: inline-block;
    width: auto;
    margin: 0;
    text-align: inherit;
  }

  li p {
    display: inline;
    margin-left: 0;
  }

  li h4::after {
    /* &middot; */
    content: "\00B7";
    display: inline-block;
    margin: 0 8pt;
  }

  .timelist h4 span {
    font-size: 0;
    line-height: 0;
  }

  .timelist time {
    float: none;
    position: absolute;
    --time-padding: 9pt;
    width: calc(var(--inset) - var(--time-padding));
    right: calc(100% + var(--time-padding));
    margin: 1pt 0;
    --font-weight: 480;
    text-align: right;
    font-size: 11pt;
    line-height: inherit;
  }
}

@page {
  margin: 72pt 72pt;
}

/* Export in Firefox */
@media print {
  :root {
    --inset: 80pt;
  }

  * {
    --font-size: not set;
    --line-height: not set;
    --letter-spacing: not set;
  }

  body {
    margin: 0;
  }

  h1 {
    padding-top: 24pt;
    /* margin-bottom: 54pt; */
    margin-bottom: 42pt;
    font-size: 28pt;
    line-height: 30pt;
    letter-spacing: 9pt;
    break-after: avoid !important;
  }

  h2 {
    margin-bottom: 6pt;
    font-size: 14pt;
    line-height: 18pt;
    break-after: avoid !important;
  }

  h3 {
    break-after: avoid !important;
  }

  .lead {
    /* Parameters set to get good text wrapping */
    margin-bottom: 36pt;
    font-size: 17pt;
    line-height: 20pt;
    letter-spacing: 0.5pt;
    --font-weight: 300;
  }

  .lead strong {
    --font-weight: 600;
  }

  .header {
    display: none;
  }

  li h4::after {
    margin: 0 4pt;
  }

  .timelist time {
    margin: 0.25pt 0;
    font-size: 10pt;
  }
}
