h1 {
  margin: 32px 0 18px;
  --font-size: 36;
  --line-height: 52;
  --letter-spacing: -0.8;
  font-weight: 700;
  color: var(--primary);
}

h2 {
  margin: 18px 0 12px;
  --font-size: 26;
  --line-height: 34;
  --letter-spacing: -0.3;
  font-weight: 700;
  color: var(--primary);
}

p {
  margin: 12px 0;
}

.legal-links {
  --font-size: 12;
  --line-height: 18;
}

.app-logo {
  width: 60px;
  height: 60px;
  background: var(--color);
  fill: var(--background);
  border-radius: 30%;
  opacity: 0.33;
}

.grid {
  display: grid;
  margin: 72px 0;
  grid-template-columns: repeat(auto-fill, 200px);
  column-gap: 32px;
  row-gap: 32px;
}
