<!DOCTYPE html>
<html
  lang="en"
  style="{% if page.primary %}--primary: {{ page.primary }};{% endif %}{% if page.color %}color: {{ page.color }};{% endif %}{% if page.background %}--background: {{ page.background }};{% endif %}"
>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>{{ page.title }}</title>
  <style>
    {% include base.css %}
  </style>
  {% if page.css %}
  <link href="{{ site.baseurl }}/assets/{{ page.css }}.css" rel="stylesheet" />
  {% endif %}
  <div class="header u-scroll-horizontal">
    <a href="{{ site.baseurl }}/" class="header__logo"
      >Jacob<br />does<br />code</a
    >
    <div class="header__section">Apps</div>
    <a href="{{ site.baseurl }}/pocket-jam" class="header__link">Pocket Jam</a>
    <a href="{{ site.baseurl }}/technicalc" class="header__link">TechniCalc</a>
    <a href="{{ site.baseurl }}/rail-app" class="header__link">Rail App</a>
    <div class="header__section header__section--last">Contact</div>
    <a href="{{ site.baseurl }}/cv" class="header__link">CV</a>
    <a href="https://github.com/jacobp100" class="header__link">Github</a>
  </div>
  {{ content }} {% if page.js %}
  <script src="{{ site.baseurl }}/assets/{{page.js}}.js"></script>
  {% endif %}
</html>
