<!DOCTYPE html>
<html
  lang="en"
  style="
    {%- if page.primary -%}--primary-light: {{ page.primary }};{%- endif -%}
    {%- if page.primary-dark -%}--primary-dark: {{ page.primary-dark }};{%- endif -%}
  "
>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>{{ page.title }}</title>
  {%- if page.description -%}
  <meta name="description" content="{{ page.description }}" />
  {%- endif -%} {%- comment -%}
  <!-- CSS -->
  {%- endcomment -%} {%- capture css -%} {%- include base.css -%} {%- if
  page.css -%} {%- include {{ page.css }}.css -%} {%- endif -%} {%- endcapture
  -%} {%- include inline-style.html content=css -%} {%- comment -%}
  <!-- JS -->
  {%- endcomment -%} {%- include inline-script.html src="set-hairline-width.js"
  async=true -%} {%- comment -%}
  <!-- Additional HTML -->
  {%- endcomment -%} {%- if page.banner -%} {%- include {{ page.banner }} -%}
  {%- endif -%}
  <div class="header">
    <a href="/" class="header__logo">Jacob<br />does<br />code</a>
    <div class="header__section">Apps</div>
    <a href="/pocket-jam" class="header__link">Pocket Jam</a>
    <a href="/key-lines" class="header__link">Key Lines</a>
    <a href="/technicalc" class="header__link">TechniCalc</a>
    <a href="/freebies" class="header__link">Freebies</a>
    <div class="header__section header__section--last">Contact</div>
    <a href="/blog" class="header__link">Blog</a>
    <a href="https://github.com/jacobp100" class="header__link">Github</a>
    <a href="/cv" class="header__link">CV</a>
  </div>
  {{ content }} {%- comment -%}
  <!-- Date -->
  {%- endcomment -%} {%- if page.date -%}
  <span class="published-on">
    Published on
    <time datetime="{{ page.date }}">
      {{- page.date | date_to_long_string: "ordinal" -}}
    </time>
  </span>
  {%- endif -%}
</html>
